@font-face {
    font-family: 'Korb';
    src: url('Korb.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Korb';
    src: url('KorbBold.woff');
    font-weight: bold;
}

html, body {
    margin: 0;
    font-family: 'Korb';
}

nav {
    color: #262262;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
}

nav img {
    width: 130px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 1.6em;
}

nav ul li a {
    color: #262262;
    text-decoration: none
}

nav ul li:not(:last-child):after {
    content: '/';
    color: #EF4136;
    margin: 0 32px;
}

/*#carousel::after {
    content: ' ';
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: url('ondas.png');
    background-size: cover;
}*/

/* .carousel-container {
    height: calc(100vh - 140px);
    position: relative;
}

#image-1 {
    background: url('foto-1.png');
    height: 100%;
    background-size: cover;
    background-position: center;
}

#image-2 {
    background: url('foto-2.png');
    height: 100%;
    background-size: cover;
    background-position: center;
}

#image-3 {
    background: url('foto-3.png');
    height: 100%;
    background-size: cover;
    background-position: center;
}

#image-4 {
    background: url('foto-4.png');
    height: 100%;
    background-size: cover;
    background-position: center;
}
*/

#image-1 {
    background: url('foto-1.png');
    height: calc(100vh - 140px);
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#image-2 {
    background: url('foto-2.png');
    height: calc(100vh - 140px);
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#image-3 {
    background: url('foto-3.png');
    height: calc(100vh - 140px);
    width: 100%;
    background-size: cover;
    background-position: center;
}

#image-4 {
    background: url('foto-4.png');
    height: calc(100vh - 140px);
    width: 100%;
    background-size: cover;
    background-position: center;
}


.flickity-page-dots {
  top: 8px;
  height: 8px;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

footer {
    display: flex;
    color: #262262;
    padding: 16px 32px;
}

footer img {
    width: 30px;
    margin-right: 8px;
}

#address, #phone, #networks {
    display: flex;
    align-items: center;
}

footer #address {
    margin-right: 32px;
}

footer #networks {
    margin-left: auto;
}

@media only screen and (max-width: 1024px) {
    
    nav {
        flex-direction: column;
        padding: 80px 24px 8px 24px;
    }
    
    nav::after {
        content: ' ';
        height: 100px;
        width: 100%;
        position: absolute;
        top: -20px;
        background: url('ondas.png');
        transform: rotate(180deg);
        background-size: cover;
        background-position: center
    }
    
    nav ul { 
        padding: 0;
    }
    
    nav ul li {
        font-size: 1.3em;
    }
    
    nav ul li:not(:last-child):after {
        content: '/';
        color: #EF4136;
        margin: 0 16px;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
    }
    
    footer #address {
        margin: 8px 0;
        max-width: 340px;
        text-align: center;
    }
    
    footer #phone {
        margin: 8px 0;
    }
    
    footer #networks {
        margin: 8px 0;
    }
}