@font-face {
    font-family: 'Korb';
    src: url('Korb.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Korb';
    src: url('KorbBold.woff');
    font-weight: bold;
}

html, body {
    margin: 0;
    font-family: 'Korb';
}

nav {
    color: #262262;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 100px;
}

nav img {
    width: 130px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 1.6em;
}

nav ul li a {
    color: #262262;
    text-decoration: none
}

nav ul li:not(:last-child):after {
    content: '/';
    color: #EF4136;
    margin: 0 32px;
}

#carousel {
    position: relative;
}

#carousel::after {
    content: ' ';
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: url('ondas.png');
    background-size: cover;
}

#carousel .carousel-container {
    height: calc(100vh - 140px);
}

#carousel .carousel-image {
    height: 100%;
    background-size: cover;
}

#image-1 {
    background: url('foto-1.png');
}

#image-2 {
    background: url('foto-2.png');
}

#image-3 {
    background: url('foto-3.png');
}

#image-4 {
    background: url('foto-4.png');
}

.slick-prev {
    left: 50px;
    z-index: 1;
}
.slick-next {
    right: 50px;
    z-index: 1;
}

.slick-dots {
    top: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

footer {
    display: flex;
    color: #262262;
    padding: 16px 32px;
}

footer img {
    width: 30px;
    margin-right: 8px;
}

#address, #phone, #networks {
    display: flex;
    align-items: center;
}

footer #address {
    margin-right: 32px;
}

footer #networks {
    margin-left: auto;
}